<script lang="ts" setup>
import { computed, nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import type { Promotion } from '@/types/Promotion'
import http from '@/services/http'
import { useLoadingStore } from '@/stores/loading'
import promotionService from '@/services/promotion'
import { usePromotionStore } from '@/stores/promotion'
import { useTypeStore } from '@/stores/type'
const promotionStore = usePromotionStore()
const headers = [
    {
        title: 'Id',
        key: 'id',
        value: 'id'
    },
    {
        title: 'Image',
        key: 'image',
    },
    {
        title: 'Name',
        key: 'name',
        value: 'name'
    },
    {
        title: 'Condition',
        key: 'condition',
        value: 'condition'
    },
    {
        title: 'Discount',
        key: 'discount',
        value: 'discount'
    },
    { title: 'Actions', key: 'actions', sortable: false }
]

const typeStore = useTypeStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)
const promotions = ref<Promotion[]>([])

let editedIndex = -1
let lastId = 4
function onSubmit() { }

function closeDelete() {
    dialogDelete.value = false
    nextTick(() => {
        promotionStore.clearForm()
    })
}
async function deleteItemConfirm() {
    // Delete item from list
    await promotionStore.deletePromotion()
    closeDelete()
}
async function editItem(item: Promotion) {
    if (!item.id) return
    await promotionStore.getPromotion(item.id)
    dialog.value = true
}
async function deleteItem(item: Promotion) {
    if (!item.id) return
    await promotionStore.getPromotion(item.id)
    dialogDelete.value = true
    editedIndex = -1
}
function closeDialog() {
    dialog.value = false
    nextTick(() => {
        promotionStore.clearForm()
    })
}
async function save() {
    const { valid } = await refForm.value!.validate()
    if (!valid) return
    await promotionStore.savePromotion()
    closeDialog()
}

onMounted(async () => {
    await promotionStore.getPromotions()
    await typeStore.getTypes()
})

const search = ref<string>('')

const formattedPromotions = computed(() =>
    promotionStore.promotions.map((promotions) => ({
        ...promotions
    }))
)

const filteredPromotions = computed(() => {
    const searchLower = search.value.toLowerCase()
    return formattedPromotions.value.filter((promotion) =>
        promotion.name.toLowerCase().includes(searchLower)
    )
})

const page = ref(1)
const itemsPerPage = ref<any>(10)
const pageCount = computed(() => {
    return Math.ceil(promotionStore.promotions.length / itemsPerPage.value)
})
</script>

<template>
    <div>
        <v-row>
            <v-col cols="12" sm="12">
                <h style="font-size: 50px;">Promotion</h>
            </v-col>
            <v-col cols="12" sm="6">
                <v-text-field v-model="search" prepend-inner-icon="mdi-magnify" density="compact" label="Search"
                    single-line flat hide-details variant="solo-filled"></v-text-field>
            </v-col>
            <!-- edited dialog and new promotion -->
            <v-col cols="12" sm="6">
                <v-dialog v-model="dialog" persistent width="600">
                    <template v-slot:activator="{ props }">
                        <v-btn color="success" v-bind="props"> New Promotion </v-btn>
                    </template>
                    <v-card>
                        <v-card-title>
                            <span>Promotion Profile</span>
                        </v-card-title>
                        <v-card-text>
                            <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6">
                                            <v-text-field v-model="promotionStore.editedPromotion.name"
                                                :readonly="loading" :rules="[(v) => !!v || 'Field is required']"
                                                class="mb-2" clearable label="Name" variant="outlined"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6">
                                            <v-text-field v-model.number="promotionStore.editedPromotion.condition"
                                                :readonly="loading" :rules="[(v) => !!v || 'Field is required']"
                                                class="mb-2" clearable label="Price" variant="outlined"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6">
                                            <v-combobox v-model="promotionStore.editedPromotion.discount"
                                                :items="typeStore.types" item-title="name" item-value="id"
                                                label="Select types" multiple :return-object="true"
                                                variant="outlined"></v-combobox>
                                        </v-col>
                                        <v-col cols="12" sm="12" md="6">
                                            <v-file-input v-model="promotionStore.editedPromotion.files"
                                                variant="outlined" :rules="[
                    value => {
                        return !value || !value.length || value[0].size < 2000000 || 'Image size should be less than 2 MB!'
                    },
                ]" accept="image/png, image/jpeg, image/bmp" label="Image" placeholder="Pick an avatar"
                                                prepend-icon="mdi-camera"></v-file-input>
                                        </v-col>
                                        <v-row justify="center">
                                            <v-col cols="12" sm="12" md="4">
                                                <v-img
                                                    :src="`http://localhost:3000/images/promotions/` + promotionStore.editedPromotion.image"
                                                    width="200px"></v-img>
                                            </v-col>
                                        </v-row>
                                    </v-row>
                                </v-container>
                            </v-form>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue-darken-1" variant="text" @click="closeDialog()"> Close </v-btn>
                            <v-btn color="blue-darken-1" variant="text" @click="save()"> Save </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-col>
        </v-row>
        <v-data-table v-model:page="page" :headers="headers" :items="filteredPromotions" :items-per-page="itemsPerPage">

            <template v-slot:bottom>
                <div class="text-center pt-2">
                    <v-pagination v-model="page"></v-pagination>
                </div>
            </template>

            <template v-slot:[`item.actions`]="{ item }">
                <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil</v-icon>
                <v-icon size="small" @click="deleteItem(item)" class="mr-2"> mdi-delete </v-icon>
            </template>

            <template v-slot:[`item.image`]="{ item }">
                <v-img :src="'http://localhost:3000/images/promotions/' + item.image" width="100"></v-img>
            </template>
        </v-data-table>
    </div>
</template>

<style scoped>
div {
    font-family: 'Kanit';
}
</style>computed,
