<script setup lang="ts">
import { onMounted, ref } from 'vue'

import { type Product } from '@/types/Product'

import ProductList from '@/components/ProductList.vue'
import { useReceiptStore } from '@/stores/receipt'
import ReceiptDetailTable from './ReceiptDetailTable.vue'
import ReceiptCard from './ReceiptCard.vue'
import MemberCard from './MemberCard.vue'
import ReceiptDialogVue from './ReceiptDialog.vue'
import QrCodeDialog from './QrCodeDialog.vue'
import ErrorCashDialog from './ErrorCashDialog.vue'
import ErrorDialog from './ErrorDialog.vue'
import type { ReceiptItem } from '@/types/RecieptItem'
import { usePosStore } from '@/stores/pos'
import ReceiptPaper from './ReceiptPaper.vue'
import ReceiptItemList from '@/components/ReceiptItemList.vue'


const receiptStore = useReceiptStore()
const posStore = usePosStore()

const product = ref<Product>()
const dialogReceipt = ref(false)
const snackbar = ref(false)

function selected(p: Product) {
  if (!p.id) return
  product.value = p
  const newReceiptItem: ReceiptItem = {
    id: -1,
    name: p.name,
    price: p.price,
    unit: 1,
    productId: p.id
  }
  receiptStore.addReceiptItem(newReceiptItem)
  snackbar.value = true
}
// const selected = (p: Product) => {
//   console.log('ProductView' + p)
//   receiptStore.addReceiptItem(p)
//   nextTick(() => {
//     if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
//   })
// }

const tab = ref(null)
onMounted(async () => {
  await posStore.getProducts()
})

const divReceiptItems = ref<HTMLElement | null>(null)
</script>

<template>
  <v-container class="font">
    <v-row>
      <v-col cols="12" md="6" class="bgc">
        <v-sheet min-width="300" max-width="600" height="805">
          <v-tabs v-model="tab" color="brown" align-tabs="center">
            <v-tab :value="1">Baverage</v-tab>
            <v-tab :value="2">Snack</v-tab>
            <v-tab :value="3">Cake</v-tab>
          </v-tabs>
          <v-window v-model="tab">
            <v-window-item :value="1">
              <ProductList :products="posStore.products1 as any" @selected-product="selected"></ProductList>
            </v-window-item>
            <v-window-item :value="2">
              <ProductList :products="posStore.products2 as any" @selected-product="selected"></ProductList>
            </v-window-item>
            <v-window-item :value="3">
              <ProductList :products="posStore.products3 as any" @selected-product="selected"></ProductList>
            </v-window-item>
          </v-window>
        </v-sheet>
      </v-col>

      <v-divider vertical></v-divider>

      <v-col cols="12" md="6" class="bgc">
        <v-container style="padding: 0">
          <v-row>
            <v-col cols="12">
              <div ref="divReceiptItems" height="300" class="overflow-auto">
                <v-sheet min-width="300" max-width="600" height="300">
                  <ReceiptItemList></ReceiptItemList>
                </v-sheet>
              </div>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="600" height="50">
                <MemberCard></MemberCard>
              </v-sheet>
            </v-col>
            <v-col cols="12">
              <div ref="divReceiptItems" height="255">
                <v-sheet min-width="300" max-width="600" height="270">
                  <ReceiptCard></ReceiptCard>
                </v-sheet>
              </div>
            </v-col>
            <v-col>
            </v-col>
            <v-col cols="12">
              <v-sheet min-width="300" max-width="600" height="1">
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6">
                      <v-btn block rounded="xl" size="x-large" color="red">Cancel</v-btn>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-btn block rounded="xl" color="green" size="x-large"
                        @click="dialogReceipt = true">Process</v-btn>
                    </v-col>
                  </v-row>
                </v-container>
              </v-sheet>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
  <ErrorDialog></ErrorDialog>
  <ErrorCashDialog></ErrorCashDialog>
  <QrCodeDialog></QrCodeDialog>
  <ReceiptDialogVue></ReceiptDialogVue>
  <ReceiptPaper v-model:modelValue="dialogReceipt" :receipt="receiptStore.receipt"
    :receiptItems="receiptStore.receiptItems" @agree="() => { receiptStore.order() }"></ReceiptPaper>
</template>

<style scoped>
.font {
  font-family: 'Kanit';
}
</style>
