<script setup lang="ts">
import { useMemberStore } from '@/stores/member';
import { useReceiptStore } from '@/stores/receipt'
import { ref, watch } from 'vue'

const receiptStore = useReceiptStore()
const memStore = useMemberStore()
const cash = ref('')
const point = ref('')
const selectedPaymentType = ref('')
const dialogUseMemberPoint = ref(false)

const updatePaymentType = () => {
  receiptStore.receipt.paymentType = selectedPaymentType.value
}

const updateCash = (value: string) => {
  if (value === '') {
    receiptStore.receipt.receivedAmount = 0
  } else {
    receiptStore.receipt.receivedAmount = parseFloat(value)
  }
}

watch(selectedPaymentType, (newValue) => {
  receiptStore.receipt.paymentType = newValue
})

const required = (v: string | boolean) => !!v || 'Field is required'

function closeUseMemberPoint() {
  dialogUseMemberPoint.value = false
}

async function useMemberPointConfirm() {
  receiptStore.calReceipt()
  dialogUseMemberPoint.value = false
}

const updatePointDiscount = (value: string) => {
    receiptStore.receipt.memberDiscount = parseFloat(value)
}
</script>

<template>
  <v-container class="font">
    <v-row no-gutters>
      <v-col cols="6" class="mb-3">Total :</v-col>
      <v-col cols="6" class="mb-3">{{ receiptStore.receipt?.total + ' ฿' }}</v-col>

      <v-col cols="6" class="mb-3">Member Point :</v-col>
      <v-col cols="6" class="mb-3">{{ memStore.editedMember?.point + ' ★' }}</v-col>

      <v-col cols="6" class="mb-3">Discount :</v-col>
      <v-col cols="6" class="mb-3">{{ '- ' + receiptStore.receipt?.memberDiscount + ' ฿' }}</v-col>

      <v-col cols="6" class="mb-5">Total Net :</v-col>
      <v-col cols="6" class="mb-5">{{ receiptStore.receipt?.totalNet + ' ฿' }}</v-col>

      <v-col cols="5"><v-combobox v-model="selectedPaymentType" :items="['Cash', 'Credit Card', 'Qr-Code']"
          label="Payment Type" dense clearable @input="updatePaymentType" variant="outlined"></v-combobox>
      </v-col><v-spacer></v-spacer>
      <v-col cols="6" class="flex-col"><v-text-field v-model="cash" :rules="[required]" class="input" clearable
          label="Cash" prepend-inner-icon="mdi-cash" variant="outlined" @input="updateCash(cash)"
          @keyup.enter="receiptStore.calReceipt()"></v-text-field></v-col>
      <v-col cols="6" class="mb-2">Change :</v-col>
      <v-col cols="6" class="mb-4">{{ receiptStore.receipt?.change + ' ฿' }}</v-col>
      <v-col cols="12" class="mb-2"><v-btn rounded="xl" color="green" @click="dialogUseMemberPoint = true">Use Member
          Point</v-btn></v-col>
    </v-row>
  </v-container>
  <v-dialog v-model="dialogUseMemberPoint" max-width="300px">
    <v-card>
      <v-card-title class="font ma-4" style="text-align: center">you want to use Point?
      </v-card-title>
      <v-text-field v-model="point" :rules="[required]" clearable label="Point" variant="outlined" class="mr-7 ml-7"
        @input="updatePointDiscount(point)"></v-text-field>
      <v-card-actions>
        <v-btn color="red" variant="flat" style="width: 100px; height: 40px" class="ml-5 mr-9"
          @click="closeUseMemberPoint">Cancel</v-btn>
        <v-btn color="success" variant="flat" style="width: 100px; height: 40px" @click="useMemberPointConfirm">OK</v-btn>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<style scoped>
.font {
  font-family: 'Kanit';
}

.input-cash {
  width: 150px;
  height: 56px;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(8, 8, 8, 0.2);
  border-radius: 10px;
  padding: 20px 45px 20px 20px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
</style>
