<script setup lang="ts">
import type { Receipt } from '@/types/Receipt'
import type { ReceiptItem } from '@/types/RecieptItem'
import { computed, ref } from 'vue'
import ReceiptItemList from '@/components/ReceiptItemList.vue'

const props = defineProps<{
  modelValue: boolean
  receipt: Receipt
  receiptItems: ReceiptItem[]
}>()
const emit = defineEmits<{
  'update:modelValue': [boolean],
  agree: []
}>()
const value = computed({
  get() {
    return props.modelValue
  },
  set(value) {
    emit('update:modelValue', value)
  }
})
</script>

<template>
  <v-row justify="center">
    <div>
      <v-dialog v-model="value" persistent width="450">
        <v-card>
          <v-card-text>
            <v-sheet>
              <h1 style="text-align: center;">Receipt</h1>
              <p>
                วันที่: {{ receipt.createdDate.toLocaleDateString() }} พนักงาน:
                {{ receipt.user?.fullName }}
              </p>
              <p>สมาชิก:{{ receipt.member?.name }}</p>
            </v-sheet>
            <ReceiptItemList :editable="false"></ReceiptItemList>
            <v-sheet>
              <p>Total: {{ receipt.totalNet }} Baht</p>
              <p>Cash: {{ receipt.receivedAmount }} Baht</p>
            </v-sheet>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green-darken-1" variant="text" @click="value = false"> Disagree </v-btn>
            <v-btn color="green-darken-1" variant="text" @click="() => {
        value = false
        emit('agree')
      }"> Agree </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </v-row>
</template>

<style scoped>
div {
  font-family: 'Kanit';
}
</style>