<script setup lang="ts">
import { useEmployeeStore } from '@/stores/employee';
import type { User } from '@/types/Employee'
import { ref, nextTick, computed, onMounted } from 'vue'
import type { VForm } from 'vuetify/components'
import http from '@/service/http'
import { useLoadingStore } from '@/stores/loading';
import employeeService from '@/service/employee'

const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)
const employeeStore = useEmployeeStore()
const loadingStore = useLoadingStore()
// const intilEmployee: User = {
//   id: -1,
//   name: "",
//   gender: 'male',
//   tel: "",
//   username: "",
//   password: "",
//   role: 'barista',
//   bankAccount: ''
// }

// const editedEmp = ref<User>(JSON.parse(JSON.stringify(intilEmployee)))

const page = ref(1)
const itemsPerPage = ref<any>(5)
const search = ref<string>('')

// const Employees = ref<User[]>([])

const headers = [
  {
    title: 'ID',
    key: 'id'
  },
  {
    title: 'Name',
    key: 'name'
  },
  {
    title: 'Gender',
    key: 'gender'
  },
  {
    title: 'Tel.',
    key: 'tel'
  },
  {
    title: 'Position',
    key: 'role'
  },
  { title: '', key: 'actions', sortable: false }
]

let editedIndex = -1


function onSubmit() { }

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    employeeStore.clearForm()
  })
}

async function deleteItemConfirm() {
  closeDelete()
  // console.log(Employees.value)
  await employeeStore.deleteEmployee()

}

const pageCount = computed(() => {
  return Math.ceil(employeeStore.employees.length / itemsPerPage.value)
})

async function deleteItem(item: User) {
  await employeeStore.getEmployee(item.id)
  dialogDelete.value = true
  editedIndex = -1
  // if (!item.id) return
  // await employeeStore.deleteEmployee()
  // dialogDelete.value = true
  // employeeStore.clearForm()
  // // editedIndex = -1
}

async function editItem(employee: User) {
  await employeeStore.getEmployee(employee.id)
  dialog.value = true
}
// async function getEmployees() {
//   loadingStore.doLoad()
//   const res = await employeeService.getEmployees()
//   Employees.value = res.data
//   loadingStore.finish()
// }

// async function getIndex() {
//   const res = await http.get('/employees')
//   Employees.value = res.data
//   let lastId = Employees.value.length
// }

// async function saveEmployee(employee: User) {
//   loadingStore.doLoad()
//   if (employee.id < 0) { //add new
//     editedEmp.value.id = Employees.value.length + 1
//     console.log("Post" + JSON.stringify(employee) + Employees.value.length)
//     const res = await http.post('/employees', employee)
//   } else {
//     console.log("Patch" + JSON.stringify(employee))
//     const res = await http.patch(`/employees/${employee.id}`, employee)
//   }
//   await getEmployees()
//   loadingStore.finish()
// }

// async function deleteEmployee(employee: User) {
//   loadingStore.doLoad()
//   const res = await http.delete(`/employees/${employee.id}`)
//   await getEmployees()
//   loadingStore.finish()
// }
onMounted(() => { //ดึงข้อมูลจาก backend
  employeeStore.getEmployees()
})

function closeDialog() {
  dialog.value = false
  nextTick(() => {
    employeeStore.clearForm()
    editedIndex = -1
  })
}

async function save() {
  const { valid } = await refForm.value!.validate()

  if (!valid) return
  closeDialog()
  await employeeStore.saveEmployee()
}

const formattedEmployees = computed(() => employeeStore.employees.map((Employee) => ({ ...Employee })))

const filteredEmployees = computed(() => {
  const searchLower = search.value.toLowerCase()
  return formattedEmployees.value.filter((Employee) =>
    Employee.name.toLowerCase().includes(searchLower)
  )
})
</script>

<template>
  <div>
    <div class="ml-5">
      <!-- Data -->
      <div class="text-center">
        <h1 style="text-align: left">EMPLOYEE</h1>
      </div>

      <div>
        <!-- new employee -->
        <div>
          <v-dialog v-model="dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <div>
                <v-btn class="ma-2" style="background-color: rgb(139, 82, 38)" v-bind="props">
                  <v-icon icon="mdi mdi-account-plus" size="25px" class="mr-2"></v-icon>
                  <div style="text-align: left">New Employee</div>
                </v-btn>
              </div>
            </template>
            <v-card title="Employee Profile" class="pt-6" style="text-align: center">
              <v-card-title color="blue"><v-card-text>
                  <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="12" md="4">
                          <v-text-field v-model="employeeStore.editedEmp.name" :readonly="loading"
                            :rules="[(v) => !!v || 'Field is required']" class="mb-2" clearable label="Full Name"
                            placeholder="Enter your name" variant="outlined"></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="12" md="4">
                          <v-text-field v-model="employeeStore.editedEmp.tel" :readonly="loading" :rules="[
            (v) => !!v || 'Field is Field is required',
            (v) => (v && v.length === 10) || 'Tel. number must be 10 digits',
            (v) => /^\d+$/.test(v) || 'Tel. number must contain only digits'
          ]" class="mb-2" clearable label="Tel." placeholder="Enter your tel." variant="outlined"></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="12" md="4">
                          <v-text-field v-model="employeeStore.editedEmp.username" :readonly="loading"
                            :rules="[(v) => !!v || 'Field is required']" clearable label="Username"
                            placeholder="Enter your username" variant="outlined"></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="12" md="4">
                          <v-text-field v-model="employeeStore.editedEmp.password" :readonly="loading"
                            :rules="[(v) => !!v || 'Field is required']" clearable label="Password"
                            placeholder="Enter your password" variant="outlined"></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="12" md="4">
                          <v-text-field v-model="employeeStore.editedEmp.bankAccount" :readonly="loading" :rules="[
            (v) => !!v || 'Field is Field is required',
            (v) => (v && v.length === 10) || 'Bank Account number must be 10 digits',
            (v) => /^\d+$/.test(v) || 'Bank Account number must contain only digits']" class=" mb-2" clearable
                            label="Bank Account" placeholder="Enter your bank account"
                            variant="outlined"></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="6">
                          <v-combobox label="Gender" :items="['Male', 'Female', 'Others']"
                            v-model="employeeStore.editedEmp.gender" variant="outlined"></v-combobox>
                        </v-col>

                        <v-col cols="12" sm="6">
                          <v-combobox v-model="employeeStore.editedEmp.role" :items="['Manager', 'Barista']"
                            label="Select your role" :return-object="false" variant="outlined"></v-combobox>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-form> </v-card-text></v-card-title>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn style="width: 200px; height: 60px" variant="flat" @click="closeDialog()" class="ms-5"
                  color="red">Cancel</v-btn>
                <v-btn style="width: 200px; height: 60px" variant="flat" color="success" @click="save()" class="ms-10">
                  Save
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="font ma-4 pt-6" style="text-align: center">you want to delete this info?
                🗑️</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red" variant="flat" style="width: 150px; height: 50px" class="mb-3"
                  @click="closeDelete">Cancel</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="success" variant="flat" style="width: 150px; height: 50px" class="mb-3"
                  @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>

        <!--title-->
        <v-card-title class="d-flex align-center pe-2">
          <v-icon icon="mdi-account"></v-icon> &nbsp; Employee Info
          <v-spacer></v-spacer>

          <!-- search -->
          <v-text-field v-model="search" prepend-inner-icon="mdi-magnify" density="compact" label="Search" single-line
            flat hide-details variant="solo-filled"></v-text-field>
        </v-card-title>

        <!-- table -->
        <div>
          <v-data-table v-model:page="page" :headers="headers" :items="filteredEmployees"
            :items-per-page="itemsPerPage">
            <template v-slot:bottom>
              <div class="text-center pt-2">
                <v-pagination v-model="page" :length="pageCount"></v-pagination>
              </div>
            </template>

            <!-- <template v-slot:item.actions="{ item }"> -->
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
              <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
            </template>
            <template v-slot:no-data>
              <v-btn color="primary" @click="employeeStore.getEmployees()">Reset</v-btn>
            </template>
          </v-data-table>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.left-half {
  height: 100%;
  background-color: #f0f0f0;
}

.right-half {
  height: 100%;
  background-color: grey;
}

.v-btn {
  width: 235px;
  height: 90px;
  color: white;
  font-family: Verdana, sans-serif;
}

div {
  font-family: 'Kanit';
}
</style>
